.setContainer{
    margin: 10px 0px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.weightRepsLabel{
    padding:0 10px;
}

.setWeight, .setReps{
   border-radius:4px;
   border:1px solid lightgray;
   align-self:stretch;
}

.setWeight[placeholder], .setRepsinput[placeholder] {
   text-align: center;
}

.setDelete{
   margin-left: auto;
}

.hideAddModal{
   z-index:1;
}