#example-collapse-text{
   width:100%;
}

.chart-container{
   width: 90%;
   margin: 0 auto;
   padding:10px;
}

.histogram_slider{
   background-color: #2b2a31;
   padding: 40px 36px 30px;
   border-radius: 5px;
   padding: 24px 20px 10px;
}

.svgContainer{
   height:0;
}