.routineContainer{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   max-width: 1400px;
   padding: 20px;
   margin:0 auto;
}

.react-calendar{
   margin-right: 20px;
}

.routineInformation{
   width: 100%;
}

.list-group-item{
   border:none;
}